@font-face {
  font-family: "LondrinaSolid";
  src: url("/public/fonts/londrinasolid/LondrinaSolid.woff") format("woff"),
    url("/public/fonts/londrinasolid/LondrinaSolid.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
